@import '../../../../styles/variables';

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: map-deep-get($colors, 'primary', 'base');
  margin-right: 15px;
  padding: 5px;
}
